input {
    display:block;
    margin-bottom: 10px;
    margin-top: 10px;
}
#selector {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
 .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
 }
