body {
  background-image: url(./209037.gif);
}
li {list-style-type: none;
  font-size: 16pt;
  }
  .mail {
    background-color: rgba(209, 209, 209, 0.812);
    padding: 50px 30px;
    margin: 0px auto;
    border-radius: 30px;
    /* border: 1px ridge rgb(3, 67, 10); */
    box-shadow: 1px 1px 10px greenyellow;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  border: 1px soild silver;
  color: black;
  }
  .mail h2 {
  margin-left: 38px;
  }
  input {
  font-size: 20pt;
  }
  input:focus, textarea:focus{
  background-color: lightyellow;
  }
  input submit {
  font-size: 12pt;
  }
  .rq {
  color: #FF0000;
  font-size: 10pt;
  }